body
{
background-color:#303030;
}

h1
{
color:#171718;
text-align:center;
}


h2
{
color:#171718;
text-align:center;
}

h3
{
color:#171718;
font-family:"Courier New";
text-align:center;
}

p
{
font-family:"Times New Roman";
color:#171718;
font-size:20px;
}

a
{
color:#4545B4;
}

#hr
{
color:#180000;
background-color:#180000;
width:90%;
border:1px;
border-color:#180000;
height:1px;
}

#main
{
background-color:#363636; /*#7D7D7D;*/
border:1px solid;
border-color:#7D7D7D;
border-radius:6px;
margin-right:10%;
margin-left:10%;
margin-top:4%;
}

#content{
margin-right:20%;
margin-top:3%;
margin-left:20%;
margin-bottom:5%;
text-align:center;
border:2px;
}

footer
{
margin-bottom:1%;
text-align:center;
}

#input
{
background-color:#A0A0A0;
border:2px;
border-radius:12px;
}
/*
#input[name=subject]
{
background-color:#A0A0A0;
border:2px;
border-radius:12px;
resize:none;
}*/
