<!DOCTYPE HTML>
<html>
  <head>
    <title>My page</title>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
  </head>

  <body>
    <div id="main">

<!--      <nav>
        <ul class="lavaLampWithImage" id="lava_menu">
          <li class="current"><a href="index.html">home</a></li>
          <li><a href="front.html">blog</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav> -->

      <h1>Abhishek Bhattacharjee</h1>
      <div align="center"><img border="2" src="img/dp.jpg" width="180" height="180"></div>
      <div id="content">
	<h2>About Me</h2>
	<p>
	  I am Abhishek. I live in Pune,India and I love my city. I am an engineering under-grad at Pune Institute of Computer Technology.
	  I love programming,watching movies and TV series.I am an open-source enthusiast and try to use everything that is free and open.
	  I like programming and some projects that I have done can be found on my <a href="https://github.com/abhi11">GitHub</a> account.
	</p>
	<p>
	  I love watching movies and some of my favourite directors include Tarantino,Scorsese,Nolan,Anurag Kashyap,Satyajit Ray and so on.
	  But music is my first love. I listen to music of various genres from regional folk to western heavy metal and rock-and-roll. 
	  Metallica, Iron Maiden, Motorhead, Led Zeppelin ,Opeth, Pink Floyd and Dire Straits are some of the bands I love listening to.
	</p>
	<p>
	  You can connect to me on <a href="https://www.facebook.com/abhishek.bhattacharjee11"><img src="img/facebook.png" width="20" height="20"></a> | <a href="http://www.linkedin.com/in/abhishekbhattacharjee11"><img src="img/linkedin.png" width="20" height="20"></a> | <a href="https://twitter.com/abshk11"><img src="img/twitter.png" width="20" height="20"></a>
	</p>
      </div>
    </div>
    <footer>
      <p>&copy; Abhishek Bhattacharjee 2014 | Uses google app engine | Python for backend | <a href="http://www.gnu.org/software/emacs/">Emacs</a> for editing </p>
    </footer>
  </body>
</html>
